@font-face {
    font-family: "Chirp Regular";
    src: url("../fonts/chirp-regular-web.ttf")
}

* {
    font-family: "Chirp Regular";
    color: white;
    text-shadow: none;
}
body {
    background: black;
}
div {
    align-self: center;
}