@font-face {
    font-family: "Chirp Regular";
    src: url("../fonts/chirp-regular-web.ttf")
}

* {
    font-family: "Chirp Regular";
    color: white;
    text-shadow: none;
}
body {
    background: black;
}
div {
    border: white;
    border-radius: 10pt;
    border-width: 1pt;
}
#post {
    align-content: left;
    align-self: center;
    border: white;
    border-radius: 10pt;
    border-width: 1pt;
}